body {
    background: url("image/img.jpg");
    font-family: 'Rubik', 'Tahoma', sans-serif;
    font-size: 15px;
}

.usersBox {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 142, 0);
}

.usersBox h2 {
    width: 100%;
    text-align: center;
}

.usersBox p {
    width: 30%;
    text-align: center;
}

.usersBox button {
    margin-top: 90%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    text-transform: uppercase;
}

.usersBox button:hover {
    background: rgb(255, 142, 0);
    box-shadow: 0 10px 10px rgba(225, 0, 0, 0.18);
}

.postsBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    margin-top: 130px;
    color: rgb(255, 142, 0);
}

.postBox {
    width: 15%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 142, 0);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}

.postBox p {
    height: 50%;
}

.postBox a {
    text-decoration: none;
    color: rgb(255, 142, 0);
    text-transform: uppercase;
    border-radius: 5px;
}

 .postBox a:hover {
     color: rgba(0, 0, 0, 0.45);
 }

h2 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
    border-radius: 4px;
}

.userDiv p {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
    border-radius: 4px;
}

